* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-top: 20px;
}

main {
    margin: 10px 20px;
}

article{
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
  border-top: 3px solid hsl(34, 97%, 64%);
  padding: 40px;
  margin: 100px;
}

p {
    margin: 10px 0 20px 0;
    color: darkmagenta;
}

.input {
    margin: 10px 0 20px 0;
}

input {
    border: 1px solid black;
    height: 2rem;
    padding: 0 10px;
}

button {
  background-color: green;
  color: white;
  width: 10rem;
  height: 3rem;
  margin: 0 0 10px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.resultado {
    display: flex;
    align-items: center;
    color: black;
    margin: 10px 0 20px;
    padding: 0 10px;
    border-radius: 5px;
    min-height: 2rem;
    height: fit-content;
    width: fit-content;
}
